<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera conexion</title>
</head>
<body>
    <h1>Conexion a base de datos</h1>
    <h1>Todos los usuarios</h1>
        {% for one_user in all_users %}
            <p>First Name: {{one_user.first_name}}</p>
            <p>Last Name: {{one_user.last_name}}</p>
            <p>Email: {{one_user.mail}}</p>
            <hr>
        {% endfor %}

</body>
</html>